body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#messageInput {
  height: 100px;
}

.card-img-top {
  aspect-ratio: 16/9;
}

.hero-banner{ 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-top: 20px;
}

.bi-github{
  color: grey;
}

.resume{
  color: #F7DC6F;
}

.resume-download{
  background-color: #0a192f;
  border-radius: 10px;
  border-color: #F7DC6F;
  border-width: 2px;
  border-style: solid;
  color: white;
  text-decoration: none;
  padding: 5px;
  
}

#submit-btn{
  border-radius: 10px;
  border-color: #F7DC6F;
}

#submit-btn:hover{
  background-color: #F7DC6F;
  color: #0a192f;
}

.resume-download:hover{
  background-color: #F7DC6F;
  color: #0a192f;
  text-decoration: none;
}

.name-input, .email-input, .message-input{
  color: #0a192f;
}

.about-section{
  text-align: center;
}

strong{
  color: #F7DC6F;
}



